<div class="container">

  <div class="row">

    <div class="col" id="filters">
      <table>
        <tr>
          <th> <h6> Material Type: </h6></th>
          <td>
            <form>

            <select name = "dropdownMaterial" [(ngModel)]="selectedMaterialDL">
              <option  [value]="''">All</option>
              <option #ref  *ngFor="let name of names" [value]="name">{{name}}</option>
            </select>

          </form>
          </td>

        </tr>
        <tr>
          <th><h6> Brands: </h6></th>
          <td>
            <form>

              <select name = "dropdownBrand" [(ngModel)]="selectedBrandDL">
                <option [value]="''">All</option>
                <option #ref  *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <th><h6> Farbe: </h6></th>
          <td>
            <form>
              <select name = "dropdownColor" [(ngModel)]="selectedColorDL" >
                <option [value]="''">All</option>
                <option #ref  *ngFor="let color of colors" [value]="color">{{color}}</option>
              </select>

            </form>
          </td>
        </tr>
        <tr>
          <th> <h6> 3D-Drucker: </h6></th>
          <td>
            <form>

              <select name = "dropdownMaterial" [(ngModel)]="selectedPrinterDL">
                <option  [value]="0">-Select-</option>
                <option #ref  *ngFor="let printer of printers" [value]="printer.printerId">{{printer.printerType}}</option>
              </select>
            </form>
          </td>
          <td> <label *ngIf="message!= ''"><i class="fa-sharp fa-solid fa-circle-exclamation"></i> {{message}}</label></td>

        </tr>


      </table>

      <div id="buttonSearch" >

        <button  (click)="startSearch()" class="btn btn-outline-dark">Search <i class="fa-solid fa-magnifying-glass"></i></button>
        <button  [routerLink]="['/create']" class="btn btn-dark">Add new <i class="fa-sharp fa-solid fa-plus"></i></button>
      </div>
    </div>
<div class="col"   *ngIf="filaments.length!=0">

  <table id="details">
    <tr *ngFor=" let fil of filaments | paginate: { itemsPerPage: 5, currentPage: page }">

      <th>{{fil.type.materialType}} ({{fil.type.filamentWidth}}mm) - {{fil.type.brand}} - {{fil.type.color}}</th>
      <td><button type="button" class="btn btn-dark" id="buttonDetails"  (click)="openDetails(fil.type.typeId)">Details</button>
        <button type="button" class="btn btn-dark" id="buttonDetails"  [routerLink]="['/update', fil.type.typeId]"><i class="fa-regular fa-pen-to-square"></i></button>
        <button type="button" class="btn btn-dark" id="buttonDetails"  (click)="delete(fil.filamentId)"><i class="fa-solid fa-trash"></i></button>
      </td>

    </tr>
  </table>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>


</div>

</div>



<div class="row" id="detailsandslicerdiv">
  <div class="col"  *ngIf="showtable">
    <h5>Filament Details</h5>
<table class="table" id="mainTable">
  <thead>
  <tr>

    <th scope="col">Filament</th>
    <td>{{filament.type.materialType}}</td>
  </tr>
  <tr>
    <th scope="col">Brand</th>
    <td>{{filament.type.brand}}</td>
  </tr>
  <tr>
    <th scope="col">Farbe</th>
    <td>{{filament.type.color}}</td>
  </tr>
  <tr>
    <th scope="col">Breite</th>
    <td>{{filament.type.filamentWidth}}</td>
  </tr>
  <tr>
    <th scope="col">Bed Enclosure</th>
    <td *ngIf="filament.type.bedEnclosure==true"><i class="fa-solid fa-check"></i></td>
    <td *ngIf="filament.type.bedEnclosure==false"><i class="fa-solid fa-xmark"></i></td>
    </tr>
  <tr>
    <th scope="col">Bed Adhesion Aid</th>
    <td>{{filament.type.bedAdhesionAid}}</td>
  </tr>
  <tr>
    <th scope="col">Bed Heating</th>
    <td>{{filament.type.bedHeating}}</td>
  </tr>
  <tr>
    <th scope="col">Toxic</th>
    <td *ngIf="filament.type.compositeFilament==true"><i class="fa-solid fa-check"></i></td>
    <td *ngIf="filament.type.compositeFilament==false"><i class="fa-solid fa-xmark"></i></td>
  </tr>
  <tr>
    <th scope="col">Nozzle Recommendation</th>
    <td>{{filament.type.nozzleRecommendation}}</td>
  </tr>
  <tr>
    <th scope="col">Nozzle Diameter</th>
    <td>{{filament.type.nozzleDiameter}}</td>
  </tr>
  <tr>
    <th scope="col">Preparation</th>
    <td>{{filament.type.preparation}}</td>
  </tr>
  <tr>
    <th scope="col">Filament Path</th>
    <td>{{filament.type.filamentPath}}</td>
  </tr>
  <tr>
    <th scope="col">Density</th>
    <td>{{filament.type.density}}</td>
  </tr>
  </thead>

</table>

</div>
  <div class="col" *ngIf="showtable">
    <h5>Slicer Einstellungen <button type="button" class="btn btn-dark" id="buttonDetails"  (click)="export(filament)"><i class="fa-solid fa-file-export"></i> Export</button></h5>
    <table class="table" id="slicertable" >
      <thead>
      <tr>
        <th scope="col">Enable Retraction</th>
        <td *ngIf="filament.slicer.enableRetraction==true"><i class="fa-solid fa-check"></i></td>
        <td *ngIf="filament.slicer.enableRetraction==false"><i class="fa-solid fa-xmark"></i></td>
      </tr>
      <tr>
        <th scope="col">Retraction Distance</th>
        <td>{{filament.slicer.retractionDIstance}} mm</td>
      </tr>
      <tr>
        <th scope="col">Retraction Speed</th>
        <td>{{filament.slicer.retractionSpeed}} mm/s</td>
      </tr>
      <tr>
        <th scope="col">Enable Print Cooling</th>
        <td *ngIf="filament.slicer.enablePrintCooling==true"><i class="fa-solid fa-check"></i></td>
        <td *ngIf="filament.slicer.enablePrintCooling==false"><i class="fa-solid fa-xmark"></i></td>
      </tr>
      <tr>
        <th scope="col">Fan Speed</th>
        <td>{{filament.slicer.fanSpeed}} %</td>
      </tr>
      <tr>
        <th scope="col">Regular Fan Speed</th>
        <td>{{filament.slicer.regFanSpeed}} %</td>
      </tr>
      <tr>
        <th scope="col">Max Fan Speed</th>
        <td>{{filament.slicer.maxFanSpeed}} %</td>
      </tr>
      <tr>
        <th scope="col">Fan Speed Threshold</th>
        <td>{{filament.slicer.fanSpeedThreshold}} s</td>
      </tr>
      <tr>
        <th scope="col">Initial Fan Speed</th>
        <td>{{filament.slicer.initFanSpeed}} %</td>
      </tr>
      <tr>
        <th scope="col">Regula Fan Speed At Layer</th>
        <td>{{filament.slicer.regFanSpeedAtLayer}} </td>
      </tr>
      <tr>
        <th scope="col">Printing Speed Recommended</th>
        <td>{{filament.slicer.printSpeedRecommended}} mm/s</td>
      </tr>
      <tr>
        <th scope="col">Initial Layer Speed</th>
        <td>{{filament.slicer.initLayerSpeed}} mm/s</td>
      </tr>
      <tr>
        <th scope="col">Print Speed Min</th>
        <td>{{filament.slicer.printSpeedMin}} mm/s</td>
      </tr>
      <tr>
        <th scope="col">Print Speed Max</th>
        <td>{{filament.slicer.printSpeedMax}} mm/s</td>
      </tr>
      <tr>
        <th scope="col">Printing Temperature</th>
        <td>{{filament.slicer.printingTemp}} °C</td>
      </tr>
      <tr>
        <th scope="col">Printing Temperature Initial Layer</th>
        <td>{{filament.slicer.printingTempInitLayer}} °C</td>
      </tr>
      <tr>
        <th scope="col">Printing Temperature Min</th>
        <td>{{filament.slicer.printingTempMin}} °C</td>
      </tr>
      <tr>
        <th scope="col">Printing Temperature Max</th>
        <td>{{filament.slicer.printingTempMax}} °C</td>
      </tr>
      <tr>
        <th scope="col">Bed Temperature Min</th>
        <td>{{filament.slicer.bedTempMin}} °C</td>
      </tr>
      <tr>
        <th scope="col">Bed Temperature Max</th>
        <td>{{filament.slicer.bedTempMax}} °C</td>
      </tr>
      <tr>
        <th scope="col">Bed Temperature Recommended</th>
        <td>{{filament.slicer.bedTempRecommended}} °C</td>
      </tr>
      <tr>
        <th scope="col">Layer Height</th>
        <td>{{filament.slicer.bedTempRecommended}} mm</td>
      </tr>
      <tr>
        <th scope="col">Initial Layer Height</th>
        <td>{{filament.slicer.initLayerHeight}} mm</td>
      </tr>
      </thead>
    </table>

  </div>

</div>
</div>

