<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo1.png" width="40" height="40" class="d-inline-block align-top" alt="logo">
    3D-Drucker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/instructions', 0]">Einstellfahrplan</a>
      </li>
      <li class="nav-item">

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filament
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/filaments']">Search</a></li>
          <li><a class="dropdown-item" [routerLink]="['/create']">Add new</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
