<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <h3> <img src="/assets/img/icons8-instructions-64.png" width="30" height="30"
                    class="d-inline-block align-top" alt="logo">
                Einstellfahrplan -
                <small class="text-muted">E-Steps Rechner</small>

            </h3>

        </div>
        <div class="d-flex justify-content-center flex-nowrap">
        <form>
            <div class="form-group">
              <h6>Aktueller E-Schrittwert:</h6>
              <input class="form-control input-sm" id="inputsm" name="stepvalue" type="number" [(ngModel)]="inputStepValue">
              <small>Führen Sie den Befehl M503 aus, um den aktuellen Extruderwert abzurufen</small>
            </div>
            <div class="form-group">
                <h6>Gemessenes Filament:</h6>
                <input class="form-control input-sm" id="inputsm" type="number" value="200" disabled>
                <small>Dies ist die Menge an Filament, die für die Extruderkalibrierung gemessen wurde.</small>
              </div>
              <div class="form-group">
                <h6>Zu extrudierende Menge:</h6>
                <input class="form-control input-sm" id="inputsm" type="number" value="100" disabled>
                <small>Dies ist die Menge an Filament, die mit dem Befehl G1 F100 Exx extrudiert werden soll.</small>
              </div>
              <div class="form-group">
                <h6>Restliches Filament:</h6>
                <input class="form-control input-sm" id="inputsm" name="filament" type="text" [(ngModel)]="inputFilamentLength">
                <small>Dies ist die verbleibende Menge an Filament, nachdem die Extrusion abgeschlossen ist.</small>
                
              </div>
              <div class="form-group">
                <h6>Menge des extrudierten Filaments:</h6>
                <input class="form-control input-sm" id="inputsm" type="number" name="extrutedfilament" value="{{200-inputFilamentLength}}" disabled>
                <small>Dies ist genau die Menge an Filament, die extrudiert wurde.</small>
              </div>
              <div class="form-group">
                <h6>Kalibrierter Extruderwert:</h6>
                <input class="form-control input-sm" id="inputsm" type="number" name="newValue" value="{{inputStepValue!=0 ? (inputStepValue*100)/(200-inputFilamentLength) : 0}}" disabled>
                <small>Dies ist der endgültige E-Wert. Speichern Sie es mit dem Befehl M92 Exxx.xx.</small>
              </div>
             
          </form>
          
        </div>
        <!--     Routing     -->
        <ng-container>
            <div class="d-flex justify-content-between py-3">

                <button (click)="back()" class="btn"><i class="fa-solid fa-arrow-left-long fa-2x"></i></button>



            </div>
        </ng-container>

    </div>
</div>