.img_instruction{
   margin-left: 3%;
    text-align: left;
    margin-bottom: 2%;
}
.text{
  text-align: left;
}

ul {
    list-style-type: none;
    
  }
  #questions{
    margin-bottom: 5%;
    text-align: left;
  }
  #button_div{
    text-align: right;

  }
 #button_check{
  border: none;
  outline: none;
  background: none;
 }

 #video_filament{
  margin-top: 2%;
 }
 #img_div{
  text-align: center;

}
.card{
  text-align: center;
}

.btn{
  border: none;
  outline: none;
}
#smileybutton{
  outline: none;
  border: none;
  background-color: transparent;
  padding: 4%;
  
  
}