<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <h3> <img src="/assets/img/icons8-instructions-64.png" width="30" height="30" class="d-inline-block align-top"
          alt="logo">
        Einstellfahrplan -
        <small class="text-muted">{{stepsList[currStep]?.instruction_name}}</small>

      </h3>
      <div class="instructions_header">

        <h6>Anwendung: {{stepsList[currStep]?.instruction_id}} / {{stepsList.length}}</h6>
        <span></span>

      </div>



    </div>
    <!--     Instructions with text and img     -->
    <div class="d-flex justify-content-between py-3">
      <div class="img_instruction" *ngIf="stepsList[currStep]?.instruction_img != null">
        <img src="{{stepsList[currStep]?.instruction_img}}" alt="" width="560" height="560">
      </div>
      <div class="text" *ngIf="stepsList[currStep]?.instruction_text != null">
        <p [innerText]="stepsList[currStep]?.instruction_text"></p>


      </div>
    </div>
    <!--  END - Instructions with text and img        -->

    <!--     Instructions with questions     -->


    <div class="d-flex justify-content-center flex-nowrap">


      <div class="card" id="questions" style="width: 30rem;" *ngIf="stepsList[currStep]?.questions?.length > 0">
        <ul class="list">
          <li>

            <div class="card-body">
              <h5 class="card-title">{{stepsList[currStep].questions[currentquestion].question_name}}</h5>
              <p class="card-text">{{stepsList[currStep].questions[currentquestion].question_text}}</p>
              <div *ngFor="let solutions of stepsList[currStep].questions[currentquestion].answers">
                <p><input id="{{solutions}}" (change)="onItemChange($event)" [value]='solutions.answer_id' type="radio"
                    name="solutions">{{solutions.answer_text}}</p>


              </div>
            </div>
            <p *ngIf="stepsList[currStep].questions[currentquestion].answers[choosen].answer_value ==='no'"> <img
                src="/assets/img/icons8-bulb-64.png" alt="">
              {{stepsList[currStep].questions[currentquestion].answers[choosen].solution_text}} <br>
              <iframe width="420" height="315"
                *ngIf="stepsList[currStep].questions[currentquestion].answers[choosen].solution_video !=null"
                src="https://www.youtube.com/embed/xz_aFuUqoSM">
              </iframe>


            </p>
          </li>
        </ul>
      </div>



    </div>

    <!--     END - Instructions with questions    -->
    <!--     Instructions with steps and checked button - FILAMENT EDITION  -->
    <div *ngIf="stepsList[currStep]?.instructions_filament != null">
      <div class="d-flex justify-content-center flex-nowrap">

        <div class="card" style="width: 38rem; height: 20rem;"
          *ngIf="stepsList[currStep]?.instruction_name === 'Neues Filament nachfüllen'">

          <div class="card-body">

            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/b2eiHFkSb0E">
            </iframe>
          </div>

        </div>
      </div>
      <div class="d-flex justify-content-center flex-nowrap">
        <div class="card" style="width: 38rem;">

          <div class="card-body">
            <p class="card-text">{{stepsList[currStep]?.instructions_filament[0].instructions_filament_text}} </p>
          </div>

          <div class="card-button" id="button_div">
            <button class="btn" id="button_check" (click)="nextFilament(); filamentChecked = true;"
              [disabled]="filamentChecked"
              *ngIf="stepsList[currStep]?.instructions_filament[0].instructions_filament_checked ===false"><i
                class="{{buttonVal}}"></i></button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-nowrap" *ngFor="let instructions of stepsFilaments">

        <div class="card" style="width: 38rem;">

          <div class="card-body">
            <p class="card-text">{{instructions.text}} </p>
          </div>

          <div class="card-button" id="button_div">

            <button class="btn" id="button_check"
              (click)="nextFilament(); instructions.checked = true; instructions.button='fa-solid fa-check';"
              [disabled]="instructions.checked">
              <i class="{{instructions.button}}"></i></button>

          </div>
        </div>
      </div>
    </div>
  

  <!--    END -  Instructions with steps and checked button   -->

  <!--     Instructions with steps and checked button - BETTLEVELING EDITION   -->
  <div class="d-flex justify-content-center flex-nowrap" *ngIf="stepsList[currStep]?.instruction_name === 'Bettleveling'">
    <div class="card" style="width: 58rem;">
      <div class="card-body">
        <h5 class="card-title">Hast du Auto-Leveling Option?</h5>
        <button id="smileybutton" [routerLink]="['/bedleveling', 'auto']" ><i class="fa-solid fa-face-laugh-beam"></i> JA!</button>
        <button id="smileybutton" [routerLink]="['/bedleveling', 'manuel']"><i class="fa-solid fa-face-frown"></i> NEIN!</button>
      </div>
    </div>
  </div>


  


  <!--    END -  Instructions with steps and checked button   -->
  <!--     Instructions with text and img -EXTRUDER     -->
  <div  class="d-flex flex-column" *ngIf="stepsList[currStep]?.instruction_name === 'Extruder kalibrieren'">
    <div class="img_instruction"  *ngFor="let extruder of stepsExtruder">
      <h2>{{extruder.extruder_id}}. {{extruder.extruder_name}}</h2>
      <p>{{extruder.extruder_text}}</p>
      <div id="img_div">
        <img src="{{extruder.extruder_img}}" alt="" width="{{extruder.extruder_img_width}}"
          height="{{extruder.extruder_img_height}}">
      </div>
    </div>
    <button type="button" class="btn btn-dark" style="width: 30%; margin-left: 35%;" (click)="openCalculator()" >
      <i class="fa-solid fa-calculator"></i> E-Steps Rechner
    </button>
    
    


  </div>

  <!--  END - Instructions with text and img -EXTRUDER        -->

  <!--     Routing     -->
  <ng-container>
    <div class="d-flex justify-content-between py-3">
      <div class="previousinst">
        <button class="btn" [hidden]="currStep == 0" aria-hidden="true" (click)="previousInstruction()"><i
            class="fa-solid fa-arrow-left-long fa-2x"></i></button>

          <button class="btn" aria-hidden="true" [hidden]="currStep > 0" [routerLink]="['/home']"><i class="fa-solid fa-house-circle-xmark fa-2x"></i></button>
      </div>
      <div class="probleminst">
        <button class="btn" aria-hidden="true" *ngIf="stepsList[currStep]?.problems?.length > 0"
          (click)="listProblems()"><i class="fa-solid fa-file-circle-question fa-2x"></i></button>
      </div>
      <div class="nextinst">
        <button class="btn" aria-hidden="true" (click)="nextInstruction()"
          [hidden]="currStep == stepsList.length - 1"><i class="fa-solid fa-arrow-right-long fa-2x"></i></button>
          <button class="btn" aria-hidden="true" [hidden]="currStep < stepsList.length - 1" [routerLink]="['/home']"><i class="fa-solid fa-house-circle-check fa-2x"></i></button>
      </div>
    </div>



  </ng-container>

</div>
</div>