<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{stepsList[0]?.instruction_name}}</h6>
            <p class="card-text">{{stepsList[0]?.instruction_text}}</p>
            
            <button>Next instruction</button>
          </div>
        </div>
      </div>
      
     
    </div>
  </div>