.img_instruction{
   margin-left: 3%;
    text-align: left;
    margin-bottom: 2%;
}
.text{
  text-align: left;
}
.text-test{
  padding: 3%;
}

ul {
    list-style-type: none;
    
  }
  #questions{
    margin-bottom: 5%;
    text-align: left;
  }
  #button_div{
    text-align: right;

  }
  .tabelle{
    padding: 3%;
    text-align: left;
  }
  #text-left{
    padding: 3%;
    text-align: left;
  }


 #video_filament{
  margin-top: 2%;
 }
 #img_div{
  text-align: center;

}
.card{
  text-align: center;
}


#smileybutton{
  outline: none;
  border: none;
  background-color: transparent;
  padding: 4%;
  
  
}
#button_nav{
  border: none;
  background: none;
 }