.img_instruction{
    margin-left: 3%;
}

ul {
    list-style-type: none;
    
  }
  #questions{
    margin-bottom: 5%;
  }
  #button_div{
    text-align: right;

  }
 #button_check{
  border: none;
  outline: none;
 }
 #video_filament{
  margin-top: 2%;
 }