<div class="container">
    <div class="jumbotron">
        <video id="video-background" preload muted autoplay loop>
            <source src="assets/video/video.mp4" type="video/mp4">
        </video>
        <div class="container1">
            <h2 class="jumbotron-heading">Želite da obradujete dragu osobu?</h2>
            <p class="lead text-muted">Ovde možete pronaći cveće za svaku priliku, koje se već sutra može naći na Vašoj
                adresi!
            </p>
            <a href="/instructions" class="btn btn-info" role="button">Start den Einstellfahrplan</a>
          


        </div>

       
            
        
    </div>
</div>
<div class="container">
    
        
            <a href="/instructions" class="btn btn-info" role="button">Start den Einstellfahrplan</a>


      

       
            
        
    
</div>
